<section class="block  block--dark block--skewed-left">
    <div class="container">

        <div class="block__header">
            <h2 class="block__heading">Heading</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto dolorum explicabo incidunt
                mollitia
                odio
                officia omnis sint temporibus vitae voluptatum.</p>
        </div>
    </div>
</section>

<section class="block container">
    <div class="block__header">
        <h2 class="block__heading">Heading</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto dolorum explicabo incidunt mollitia
            odio
            officia omnis sint temporibus vitae voluptatum.</p>
    </div>
</section>
