<div class="callout callout--primary">
    <div class="grid grid--1x2">
        <div class="callout__content">
            <h2 class="callout__heading">Ready to get started?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, eos libero molestias nisi
                nostrum
                nulla repudiandae. Assumenda facilis quia temporibus.</p>
        </div>
        <a class="btn btn--secondary btn--stretched callout__button" href="#">Get Started</a>
    </div>
</div>
